<div class="container-fluid">
<h1>Tabela de números aleatórios</h1>
<table class="table">
  <tr text-align="center">
    <td *ngFor="let item of getRandomNumbers(); index as i ">{{item}}</td>
  </tr>
  <tr>
   <td *ngFor="let item of getRandomNumbers(); index as i ">{{item}}</td>
  </tr>
  <tr>
    <td *ngFor="let item of getRandomNumbers(); index as i ">{{item}}</td>
  </tr>
  <tr>
    <td *ngFor="let item of getRandomNumbers(); index as i ">{{item}}</td>
  </tr>
  <tr>
    <td *ngFor="let item of getRandomNumbers(); index as i ">{{item}}</td>
  </tr>
</table>